@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor-principal:#A81259;
    --cor1:#a81259;
    --cor2:#964198;
    --cor3:#5d68c4;
    --cor4:#0087d4;
    --cor5:#d3d3d3;
    --preto:#000000;
    --branco:#FFFFFF;
}
body{
    font-size: 1rem;
    font-family: 'Merriweather'; /*o nome da fonte*/
}

section {
    padding-bottom: 5rem;
}

.logotipo{
    width: 200px;
}
.nav-link{
    color: var(--preto);
    font-weight: 600;
}

header{
    background-color: var(--branco);
}

.inicio-fundo {
    background-image: url(img/logootipo.png);
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 700px;
    padding: 40px;
    margin: 0 auto;
    align-items: center;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}

.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
}

.display-4 {
    text-shadow: #5d68c4;
}

#poemas {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--cor2);
    background-size: 180px 180px;
}

#poemas .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; /*garante que o conteudo fica acima das imagens de backgronde se houverem */
}











#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor5);
}