@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor-principal:#A81259;
    --cor1:#a81259;
    --cor2:#964198;
    --cor3:#5d68c4;
    --cor4:#0087d4;
    --preto:#000000;
    --branco:#FFFFFF;
}
body{
    font-size: 1rem;
    font-family: 'Merriweather'; /*o nome da fonte*/
}

#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor2);
}